header {
  border: 1px solid red;
  height: 80px;
}

/* .container {
  max-width: 1280px;
  background-color: papayawhip;
  border: 1px solid red;
  margin-top: 50px;
  padding-top: 50px;
  margin: 0 auto;
  height: 80vh;
} */

.icon {
  display: block;
  width: 20px;
  height: 14px;
  /* margin: 42px auto 0; */
  fill: #fc5e2f;
}
::selection {
  background-color: #fdcddd;
}
.big-title {
  text-align: center;
}

.under-title {
  position: relative;
}

.under-title:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 198px;
  height: 17px;
  margin-left: -100px;
  background: url(assets/wave-big.svg) no-repeat center/100%;
}

.container h1 {
  font-size: 42px;
  margin-bottom: 45px;
  padding-bottom: 34px;
}

form {
  height: 752px;
}

form h4 {
  text-align: center;
  padding-top: 28px;
  margin-bottom: 24px;
}

.formWrapper h4.label {
  padding-top: 0px;
}

input,
select {
  height: 40px;
  width: 100%;
}
input[type="checkbox"] {
  height: 16.26px;
}

input:focus,
select:focus {
  outline: none !important;
  border: 1px solid #467dfc;
}

input:focus::placeholder {
  color: transparent;
}

input#twins {
  position: absolute;
  left: -234px;
  top: 3px;
}
label > span {
  padding-left: 36px;
}
img.icon {
  width: 16px;
  left: 10px;
  position: absolute;
  top: 34%;
}

.formWrapper {
  max-width: 487px;
  position: relative;
}

.formWrapper input {
  padding-left: 40px;
}

.allUnit {
  max-width: 526px;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 20px;
}

span.unit {
  float: right;
  margin-top: 5px;
  margin-right: -25px;
}

h4.label {
  font-size: 1.125rem;
  /* font-size: 1.125rem; */
  margin: 0 0 8px;
  text-align: left;
}

form.allUnit:nth-child(4) {
  padding-bottom: 0px;
}

.formWrapper.button {
  display: flex;
  justify-content: center;
}
